venv/
build/
*.charm
.coverage
__pycache__/
*.py[cod]
.tox
.idea/
tests/integration/*-tester/lib/
.env
cos-tool*

# Terraform
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log
.terraform/
terraform.tfvars
terraform.tfvars.json