name: Promote Charm

on:
  workflow_dispatch:
    inputs:
      promote-from:
        type: choice
        description: Channel to promote from
        options:
          - edge
          - beta
          - candidate

jobs:
  promote:
    name: Promote Charm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set target channel
        env:
          PROMOTE_FROM: ${{ github.event.inputs.promote-from }}
        run: |
          if [ ${PROMOTE_FROM} == "edge" ]; then
            echo "promote-to=beta" >> ${GITHUB_ENV}
          elif [ ${PROMOTE_FROM} == "beta" ]; then
            echo "promote-to=candidate" >> ${GITHUB_ENV}
          elif [ ${PROMOTE_FROM} == "candidate" ]; then
            echo "promote-to=stable" >> ${GITHUB_ENV}
          fi
      - name: Promote Charm
        uses: canonical/charming-actions/release-charm@1.0.3
        with:
          credentials: ${{ secrets.CHARMCRAFT_CREDENTIALS }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          destination-channel: ${{ env.promote-to }}
          origin-channel: ${{ github.event.inputs.promote-from }}
